@import "~antd/dist/antd.css";

body {
  overflow: hidden !important;
}

.sticker {
  border: 2px dotted black;
  text-align: center;
}

.productName {
  margin-left: 10px;
  font-size: 18px;
  margin-top: 0;
}

.productInfo {
  margin-left: 10px;
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
}

.title {
  font-weight: bolder !important;
}

@page {
  size: auto; /* auto is the initial value */
  margin: 0mm; /* this affects the margin in the printer settings */
}

@media print {
  .sticker {
    page-break-inside: avoid;
  }
}
