@import "~antd/dist/antd.css";

.login-form-button {
  background-color: #ffede2 !important;
  border-color: #ff7926 !important;
}

.login-form-button:hover {
  background-color: #ffddc9 !important;
  color: black !important;
}

.register-form-button {
  width: 100% !important;
  color: black !important;
  background-color: #ffede2 !important;
  border-color: #ff7926 !important;
}

.register-form-button:hover {
  background-color: #ffddc9 !important;
  color: black !important;
}
